Hi <p><%= @recevier.full_name %></p>

<p>
  <ul>
    <li><b>Weight:</b> <%= @courier.weight%></li>
    <li><b>Service Type:</b> <%= @courier.service_type %></li>
    <li><b>Payment Mode:</b> <%= @courier.payment_mode %></li>
    <li><b>Cost:</b> $<%= @courier.cost%></li>
  </ul>    
</p>

<p>
  Thanks & Regards
</p>
